*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;

    background-color: blueviolet;
}

.IMGlogo, .IMGprofile{
    margin-top: 0.5vh;
    width: 8vw;
    height: 7vh;
    
}

.IMGlupa{
    margin-top: 2vh;
}



input{
    border: transparent;
    border-style:none;
    outline:none;
    background-color: transparent;

}

input::placeholder{
    color: #BBB;
    font-family:sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

